body{
    background: #210554;
    color: #ffffff;
}
.container{
    background: transparent;
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding: 60px;
    border-radius: 10px;
    margin: 12% ;
}
.container h1{
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 500;
}
.container h1 span{
    color: #1caba4;
    border-bottom: 4px solid #1caba4;
}

.input-password{
    width: 100%;
    max-width: 450px;
    background-color: #fff;
    margin-bottom: 40px;
    display: flex;
    border-radius: 4px;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}
.input-password input{
    border: none;
    background: transparent;
    font-size: 20px;
}
.input-password img{
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.generate-password{
    padding: 15px 20px;
    font-size: 18px;
    font-weight: 500;
    background: #1caba4;
    border: none;
    border-radius: 4px;
    color: #fff;
    width: 210px;
}

.generate-password:hover{
    background: #14928c;
    cursor: pointer;
    transition: all 0.3s;
}