.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(2deg, #092763,#07a2a0);
    padding: 10px;
}

.to-do-app{
    width: 100%;
    max-width: 500px;
    background: #f6fffe;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;

    display: block;
}
/*TITULO*/
.to-do-app h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.to-do-app h2 img{
    width: 30px;
    margin-left: 10px;
}

/*INPUT*/
.add-input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ededed;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-size: 14px;
}
button{
    border: none;
    outline: none;
    padding: 16px 20px;
    border-radius: 40px;
    width: 100px;
    cursor: pointer;
    font-size: 17px;
    background: #002765;
    color: #fff;
    display: flex;

}
.add-input button img{
    width: 20px;
}

/*LISTA TO-DO*/
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    width: 28px;
    height:  28px;
    border-radius: 50%;
    background-image: url(../style/general-icons/radio.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked{
    color: #717171;
    text-decoration: line-through;
}
ul li.checked::before{
    background-color: #002765;
    background-image: url(../style/general-icons/check_circle.png);   
}

/*eliminar icon*/
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
    background: #e4e3e3;

}